NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y2FwYWJsZS1idWNrLTMuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_bOXmNiXT2umR3OR2bquHS6DopLGBjO4yqn3tjDJwpE
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL='mysql://p1w56uodk1u3mcmngfk7:pscale_pw_7YlWFEnvjadZ8CA7vW6euuw70nDuri3qGOW1WjG827U@aws.connect.psdb.cloud/discord-tutorial?sslaccept=strict'
UPLOADTHING_SECRET=sk_live_a3fba962f023c670e380c2654310b8ebb3c2160a0e2422e41873dd43cc7f9a03
UPLOADTHING_APP_ID=0m6yfikibe